<div class="topbar">
  <img
    src="../../assets/images/interface.png"
    alt="Toggle Menu"
    class="toggle-icon"
    (click)="toggleSearch()"
  />
  <div class="center-wrapper">
    <div class="search-container" *ngIf="isSearchVisible">
      <input type="text" placeholder="Search..." class="search-input" />
      <img
        src="../../assets/images/search.png"
        alt="Search Icon"
        class="search-icon"
      />
    </div>
    <div class="user-profile">
      <img
        src="../../assets/images/bell.png"
        alt="Notification Icon"
        class="noti"
      />
      <img
        src="../../assets/images/user.png"
        alt="User Profile"
        class="profile-icon"
      />
      <span class="username">Admin</span>
    </div>
  </div>
</div>
