<div class="topbar">
  <div class="center-wrapper">
    <div class="search-container">
      <input type="text" placeholder="Search..." class="search-input" />
      <img
        src="../../assets/images/search.png"
        alt="Search Icon"
        class="search-icon"
      />
    </div>
    <div class="user-profile">
      <img src="../../assets/images/bell.png" alt="Noti Icon" class="noti" />
      <img
        src="../../assets/images/user.png"
        alt="User Profile"
        class="profile-icon"
      />
      <span class="username">Admin</span>
    </div>
  </div>
</div>
