<div [ngClass]="{ sidebar: true, 'dark-mode': isDarkMode }">
  <h1 class="sidebar-title">Dr. Kaung Khant Zaw</h1>
  <ul class="sidebar-list">
    <li>
      <img
        src="../../assets/images/dashboard.png"
        alt="Dashboard Icon"
        class="sidebar-icon"
      />
      <a
        routerLink="/home"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Dashboard
      </a>
    </li>
    <li>
      <img
        src="../../assets/images/stethoscope.png"
        alt="Appointments Icon"
        class="sidebar-icon"
      />
      <a routerLink="/appointments" routerLinkActive="active-link">
        Appointments
      </a>
    </li>
    <li>
      <img
        src="../../assets/images/doctor.png"
        alt="Doctors Icon"
        class="sidebar-icon"
      />
      <a routerLink="/home/doctor-list" routerLinkActive="active-link">
        Doctors
      </a>
    </li>
    <li>
      <img
        src="../../assets/images/hierarchy.png"
        alt="Departments Icon"
        class="sidebar-icon"
      />
      <a routerLink="/departments" routerLinkActive="active-link">
        Departments
      </a>
    </li>
    <li>
      <img
        src="../../assets/images/patient.png"
        alt="Patients Icon"
        class="sidebar-icon"
      />
      <a routerLink="/home/patient-list" routerLinkActive="active-link">
        Patients
      </a>
    </li>
    <li>
      <img
        src="../../assets/images/transaction.png"
        alt="Payments Icon"
        class="sidebar-icon"
      />
      <a routerLink="/payments" routerLinkActive="active-link"> Payments </a>
    </li>
    <li>
      <img
        src="../../assets/images/settings.png"
        alt="Setting Icon"
        class="sidebar-icon"
      />
      <a routerLink="/home/setting" routerLinkActive="active-link"> Setting </a>
    </li>
    <li>
      <img
        src="../../assets/images/help.png"
        alt="Help Icon"
        class="sidebar-icon"
      />
      <a routerLink="/help" routerLinkActive="active-link"> Help </a>
    </li>
  </ul>
  <button (click)="toggleDarkMode()" class="dark-mode-toggle">
    <i [class]="isDarkMode ? 'fas fa-toggle-off' : 'fas fa-toggle-on'"></i>
    {{ isDarkMode ? "Light Mode" : "Dark Mode" }}
  </button>
</div>
