<div class="table-doctor-container">
  <div class="table-card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th>Doctor's Name</th>
          <th>Specialization</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.specialization }}</td>
          <td>
            <button
              class="action-button"
              (click)="openEditModal(doctor)"
              data-bs-toggle="modal"
              data-bs-target="#editModal"
            >
              <i class="fas fa-edit icon"></i>
            </button>
            <button class="action-button" (click)="deleteAppointment(i)">
              <i class="fas fa-trash icon"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
